/* ********************************** Nav */

.navbar-custom {
    background-color: #15bbb3;
    color: white;
}

.navbar-brand, .nav-link, .nav-item {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: white;
}


/* ********************************** Welcome Page */

.navbar-brand, .nav-link, .nav-item {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: white;
}

.welcome {
    color: #15bbb3;
}


/* ********************************** Welcome Buttons */

.btn-custom-1 {
    background-color: #15bbb3;
    color: white;
}

.btn-custom-2 {
    background-color:#5e6472;
    color:  white;

}

/* ********************************** Graph Buttons */

.btn-first {
    color: white;
    background-color: #f79862;
}

.btn-first:hover {
    color: #f79862;
    background-color: white;
    border:0.1em solid #f79862;
}

.btn-second {
    color: white;
    background-color: #fda50f;
}

.btn-second:hover {
    color: #fda50f;
    background-color: white;
    border:0.1em solid #fda50f;
}

.btn-third {
    color: white;
    background-color: #ef7215;
}

.btn-third:hover {
    color: #ef7215;
    background-color: white;
    border:0.1em solid #ef7215;
}

/* ********************************** H's */


h1 {
    color: #15bbb3;
}

h3 {
    color: #5e6472;
}