/* main color pallet: #051e3e • #251e3e • #451e3e • #651e3e • #851e3e */
/* grey color pallet: #6e7f80 • #536872 • #708090 • #536878 • #36454f
 */


/* ********************************** Nav */

.navbar-custom {
    background-color: #451e3e;
    color:white;
}

.navbar-brand, .nav-link, .nav-item {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: white;
}


/* ********************************** Welcome Page */

.navbar-brand, .nav-link, .nav-item {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #708090;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(250, 250, 250)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.custom-toggler.navbar-toggler {
    border-color: rgb(250, 250, 250);
  } 




/* ********************************** Welcome Buttons */

.btn-custom-1 {
    background-color: #051e3e;
    color: white;
    ;
}

.btn-custom-1:hover {
    /* color: #051e3e; */
    color: white;
    background-color: #451e3e;
    border-color: white;
}

.btn-custom-2 {
    color:  #651e3e;
    border-color: #651e3e;

}

.btn-custom-2:hover {
    color: white;
    background-color: #651e3e;
}



/* ********************************** H's */


h1 {
    /* color: #651e3e; */
    color: #051e3e;

}

h2 {
    /* color: #651e3e; */
    color: #051e3e;

}

h3 {
    /* color: #051e3e; */
    color: #651e3e;

}

h4 {
    color: #851e3e;
}

h6 {
    color:#051e3e;
}


.responsive-welcome {
    max-width: 100%;
    height:auto;
}

/* ************************************** Homestate Dashboard */

.card-link {
    color: #851e3e;
}

.card-link:hover {
    color: black;
}

#state-title {
    color: #651e3e;
}

.card-header {
    background-color: #36454f;
}

.table-custom-1 {
    background-color: #6e7f80;
    color: white;

}

th {
    color: white;
}


/* ************************************** Resources*/
.icon-r {
    color: #051e3e;
}

.icon-r:hover {
    color:#575757;
}

.resource-pg {
    text-align: center;
}

.btn-resources {
    background-color: #051e3e;
    color: white;
}



/* ************************************** Footer */


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    /* background-color: #051e3e; */
    background-color: #451e3e;
  }

  .footer a {
      color: white;
  }






