<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
          <link rel="stylesheet" href="/static/app.css">

</head>

<body>

    <!-- NAV -->
    <nav  id="nav-bar" class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">myCovidNumber</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favorite/dashboard">Favorites</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/favorite/add">Add Fav</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

          </ul>

        </div>
      </nav>


<div class="container" style="margin-top: 2em">
  {% for category, msg in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}}">{{ msg }}</div>
  {% endfor %}
</div>


<div class="container mt-5">
  {% block content %}
  <!-- put  content here -->
  {% endblock %}
</div>


<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>

</body>
</html>