{% extends 'base.html' %}
{% block title %} Resources {% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="resource-pg">
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank" 
        rel="noopener noreferrer"><i class="fas fa-clinic-medical fa-7x icon-r" aria-hidden="true"></i></a>
        <h4>CDC Home</h4>
      </div>
    </div>
    <div class="col-sm">
      <div class="resource-pg">
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/testing.html" target="_blank" 
        rel="noopener noreferrer"><i class="fas fa-microscope fa-7x icon-r" aria-hidden="true"></i></a>
        <h4>Learn more about testing</h4>
      </div>
    </div>
    <div class="col-sm">
      <div class="resource-pg">
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank" 
        rel="noopener noreferrer"><i class="fas fa-stethoscope fa-7x icon-r" aria-hidden="true"></i></a>
        <h4>Check Symptoms </h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="resource-pg">
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/index.html" target="_blank" 
        rel="noopener noreferrer"><i class="fas fa-syringe fa-7x icon-r" aria-hidden="true"></i></a>
        <h4>Vaccine News</h4>
      </div>
    </div>
    <div class="col-sm">
      <div class="resource-pg">
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html" target="_blank" 
        rel="noopener noreferrer"><i class="fas fa-head-side-cough fa-7x icon-r" aria-hidden="true"></i></a>
        <h4>What to do if you're sick</h4>
      </div>
    </div>

  </div>

</div>





<div class="container">
    <div class="row">
      <div class="col">
  
      <hr>
      <h2>Want these resources in an email?</h2> 
      <form action="/email/{{user.email}}" method="GET" >
          <button class="btn btn-resources" type="submit">Email Me</button>
      </form> 
    </div>

    </div>



  </div>


{% endblock %}