{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}



<div id="welcome" class="container">

    <div class="row">

      <div class="col-sm">

          <img class="responsive-welcome" src="https://thumbs.dreamstime.com/b/vector-isolated-element-black-white-coronavirus-virus-background-hand-drawn-doodle-style-vector-isolated-element-181464275.jpg" alt="covid germ">
        </div>


        <div class="col-sm">
        <h1>Daily COVID-19 Numbers</h1>
        <h1>By State</h1>


        <h3>Personaized dashboard for you and your loved ones</h3>
        {% if user %}
        <a class="btn btn-custom-1 btn-lg btn-outline btn-block" href="/logout">Logout</a>
        {% else %}
        <a class="btn btn-custom-1 btn-lg btn-block" href="/signup">Sign Up</a>
        <h6 style="float:right;">Have an account? <a class="btn btn-custom-2 btn-sm p-1 m-2" href="/login">Login</a></h6>
        {% endif %}
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <div id="welcome-btns">

        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </div>


  


{% endblock %}