{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<div id="welcome" class="container">

  <div class="blurred-box container">

    <div class="row">
      <div class="col-sm-6">
        <img class="responsive-welcome" src=https://images.unsplash.com/photo-1588852732799-de793c9c63a4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"" alt="">
      </div>
      <div class="col-sm-6">
        <h1>COVID-19 Numbers. Everyday.</h1>
        <h3>How many cases in my state? What about that state my loved ones are in?</h3>
        {% if user %}
        <a class="btn btn-custom-2 btn-lg" href="/logout">Logout</a>
        {% else %}
        <a class="btn btn-custom-2 btn-lg" href="/login">Login</a>
        <a class="btn btn-custom-1 btn-lg" href="/signup">Sign Up</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <div id="welcome-btns">

        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </div>

  


    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  


{% endblock %}