{% extends 'base.html' %}
{% block title %} Add Fav {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-8">
          <h1>Add A Favorite</h1>
          <h4>Get the latest data for the state(s) where your loved ones live</h4>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form method="POST" id="add_favorite">
                {{ form.hidden_tag() }}
          
                {% for field in form if field.widget.input_type != 'hidden' %}
                  {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                  {{field.label}}
                  {{ field(class="form-control") }}
                {% endfor %}
          
                <button class="btn btn-success btn-md btn-block">Add</button>
              </form>        </div>
        <div class="col-sm-4"></div>
    </div>
  </div>


{% endblock %}