{% extends 'base.html' %}
{% block title %} Favs Dashboard {% endblock %}
{% block content %}

{% if favorites %}
<div class="container">
    <div class="row">
      <div class="col-sm-8">
          <h1> Latest Data for {{user.username}}'s Favorites</h1>

          {% for address in favorites %}
          <ul>
              <li>{{address.state_name}}</li>
          </ul>
          {% endfor %}

          <div>
            <ul>
              {% for state in favorites_state_data %}
              <li>{{state.positiveIncrease}} - {{state.death}}</li>
              {% endfor%}
            </ul>
          </div>
          
      </div>
      <div class="col-sm-4"></div>
    </div>
{% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
            <h1> No Favs - have this show form</h1>
            
        </div>
        <div class="col-sm-4"></div>
      </div>
 {% endif %}


{% endblock %}