{% extends 'base.html' %}
{% block title %} Favs Dashboard {% endblock %}
{% block content %}

{% if favorites %}
<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>{{user.username}}'s Favorites</h1>

        {% for address in favorites %}
        {% for state in favorites_state_data %}

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5d26a468a301f700016748dd/1596537676551-BFF8VKQ66LQG5642GPV2/ke17ZwdGBToddI8pDm48kK03m88BlLEM2mUdZOkNgFIUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcNd2h9X9ZGGeEeSyBQxtXQCom5bJX64g0TRud85m5BuwajXHjYom9sTe88Tg8VNZF/coronavirus-horizontal.jpg?format=2500w" alt="covid card image cap">
          <div class="card-body">
            <h3 id="state-title" class="card-title">{{address.state_name}}</h3>
            <!-- <p class="card-text">Random note </p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>New Cases:</strong> {{state.positiveIncrease}}</li>
            <li class="list-group-item"><strong>Currently hospitalized:</strong> {{state.hospitalizedCurrently}}</li>
            <li class="list-group-item"><strong>Total Deaths:</strong> {{state.death}}</li>
            </li>
          </ul>
          <div class="card-body">
            <!-- <a href="/favorite/dashboard" class="card-link"><strong>Favorites</strong></a> -->
            <a href="/resources" class="card-link"><strong>Resources</strong></a>
            <p class="card-text mt-3"><small class="text-muted"><em>Last updated {{date}}</em></small></p>
            </div>
        </div>
        {% endfor %}
        {% endfor%}











<!-- 
          {% for address in favorites %}
          <ul>
              <li>{{address.state_name}}</li>
          </ul>
          {% endfor %}

          <div>
            <ul>
              {% for state in favorites_state_data %}
              <li>{{state.positiveIncrease}} - {{state.death}}</li>
              {% endfor%}
            </ul>
          </div>
          
      </div>
      <div class="col-sm-4"></div>
    </div> -->
{% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
            <h1> No Favs - have this show form</h1>
            
        </div>
        <div class="col-sm-4"></div>
      </div>
 {% endif %}


{% endblock %}