{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<!-- User Dashboard -->

<div class="container">
  <div class="row">
    <h1>{{data.full_st_name}}</h1>
  </div>
  
    <div class="row">
        <div class="card-columns">
        <div class="col">
        <div class="card" >
          <div class="card-header"></div>
            <div class="card-body">
              <h3 id="state-title" class="card-title">Cases</h3>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>New Cases:</strong> {{data.positiveIncrease}}</li>
              <li class="list-group-item"><strong>Increase: </strong> {{data.totalTestResultsIncrease}}</li>
              <li class="list-group-item"><strong>Total Reported Cases:</strong> {{data.positive}}</li>
              </li>
            </ul>
            <div class="card-body">
              <a href="/favorite/dashboard" class="card-link"><strong>Favorites</strong></a>
              <a href="/resources" class="card-link"><strong>Resources</strong></a>
              <p class="card-text mt-3"><small class="text-muted"><em>Last updated {{date}}</em></small></p>
              </div>
          </div>
      </div>
    </div>

    <div class="col">
        <div class="card" >
          <div class="card-header"></div>
            <div class="card-body">
              <h3 id="state-title" class="card-title">Hospitalizations</h3>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Currently hospitalized:</strong> {{data.hospitalizedCurrently}}</li>
              <li class="list-group-item"><strong>Hospitalized Increase:</strong> {{data.hospitalizedIncrease}}</li>
              <li class="list-group-item"><strong>Currently in ICU:</strong> {{data.inIcuCurrently}}</li>
              <li class="list-group-item"><strong>Currently on ventilator:</strong> {{data.onVentilatorCurrently}}</li>
            </ul>
            <div class="card-body">
              <a href="/favorite/dashboard" class="card-link"><strong>Favorites</strong></a>
              <a href="/resources" class="card-link"><strong>Resources</strong></a>
              <p class="card-text mt-3"><small class="text-muted"><em>Last updated {{date}}</em></small></p>
              </div>
          </div>
        </div>

        <div class="col">
        <div class="card">
          <div class="card-header"></div>
            <div class="card-body">
              <h3 id="state-title" class="card-title">Deaths</h3>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Death Increase: </strong> {{data.deathIncrease}}</li>
              <li class="list-group-item"><strong>Total Deaths:</strong> {{data.death}}</li>
              <li class="list-group-item"><strong>Total Recovered:</strong> {{data.recovered}}</li>

              </li>
            </ul>
            <div class="card-body">
              <a href="/favorite/dashboard" class="card-link"><strong>Favorites</strong></a>
              <a href="/resources" class="card-link"><strong>Resources</strong></a>
              <p class="card-text mt-3"><small class="text-muted"><em>Last updated {{date}}</em></small></p>
              </div>
          </div>
        </div>
      </div>


  </div> 





  </div>


{% endblock %}