{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<!-- User Dashboard -->

<div class="container">
  <div class="row ">
    <h1>{{data.full_st_name}} <a href="/homestate/edit"><i  id="homestate-edit" class="fas fa-edit"></i></a></h1>
  </div>

  <div class="row">
    <p>(<small class="text-muted"><em>Last updated {{data.date}}</em></small>)</p>

  </div>

  <div class="row">
  <table class="table table-hover table-dark text-center">
    <thead>
      <tr>
        <th colspan="3">CASES</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>New Cases: {{data.positiveIncrease}}</td>
        <td>Pending Tests: {{data.pending}}</td>

      </tr>
      <tr>
        <td>Case Increase: {{data.totalTestResultsIncrease}}</td>
        <td>Total Negative Tests: {{data.negative}}</td>

      </tr>
      <tr>
        <td>Total Reported Cases: {{data.positive}}</td>
        <td>Total Recovered:</strong> {{data.recovered}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <div class="col">
  <table id="hosp-table" class="table  table-hover table-sm table-custom-1 text-center">
    <thead>
      <tr>
        <th colspan="3">Hospitalizations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Currently hospitalized:</strong> {{data.hospitalizedCurrently}}</td>
      </tr>
      <tr>
        <td><strong>Hospitalized Increase:</strong> {{data.hospitalizedIncrease}}</td>
      </tr>
      <tr>
        <td><strong>Currently in ICU:</strong> {{data.inIcuCurrently}}</td>
      </tr>
      <tr>
        <td><strong>Currently on ventilator:</strong> {{data.onVentilatorCurrently}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col">
  <table id="death-table" class="table  table-hover table-sm table-custom-1 text-center">
    <thead>
      <tr>
        <th colspan="3">Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Death Increase: </strong> {{data.deathIncrease}}</td>
      </tr>
      <tr>
        <td>Total Deaths:</strong> {{data.death}}</td>
      </tr>
    </tbody>
  </table>
</div>


  </div> 





  </div>


{% endblock %}