{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-8">
          <h1>Create your account</h1>
          <h3>Track the lastest data in your state</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form method="POST" id="signup_form">
                {{ form.hidden_tag() }}
          
                {% for field in form if field.widget.input_type != 'hidden' %}
                  {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                  {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}
          
                <button class="btn btn-custom-1 btn-md btn-block">Sign me up!</button>
              </form>        </div>
        <div class="col-sm-4"></div>
    </div>
  </div>


{% endblock %}